body{
    background-color: lightgray;
}
#products{
    display: flex;
    gap:30px ;
    flex-wrap: wrap;
    padding: 50px;
    justify-content: space-evenly;


}
#products > article{
    width: 45%;
    height: 200px;
    border: 1px solid red;
}